---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{post.data.title} | Embenauts</title>
  </head>
  <body>
    <header>
      <p><a href="/blog">← Back to Blog</a></p>
    </header>

    <article>
      <h1>{post.data.title}</h1>
      <p><small>{post.data.date.toDateString()}</small></p>
      <p><em>{post.data.description}</em></p>

      <Content />
    </article>
  </body>
</html>
