---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={`${post.data.title} | Embenauts`}>
  <article>
    <p><a href="/blog">&larr; Back to Blog</a></p>
    <h1>{post.data.title}</h1>
    <p><small>{post.data.date.toDateString()}</small></p>
    <p><em>{post.data.description}</em></p>
    <hr />
    <Content />
  </article>
</BaseLayout>
