---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => !data.draft);
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="Blog | Embenauts">
  <h1>Blog</h1>

  {posts.length === 0 ? (
    <p>No posts yet.</p>
  ) : (
    <ul>
      {posts.map(post => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          <br />
          <small>{post.data.date.toDateString()}</small>
        </li>
      ))}
    </ul>
  )}
</BaseLayout>
