---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Embenauts</title>
  </head>
  <body>
    <h1>Embenauts</h1>
    <p>
      Notes on embedded systems, CMake, and firmware tooling.
    </p>

    <p>
      <a href="/blog">Blog</a>
    </p>
  </body>
</html>


